.menu {
        flex-direction: row;
    }
}
.hero-container {
    position: relative;
}

.header-main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent; /* Transparent black background */
    padding: 10px 0;
    text-align: right;
    color: #fff; /* Text color for menu items */
    display: flex;
    justify-content: space-between;
    align-items: right;
}
.header-left img {
    position: relative;
    display: flex;
    justify-content: left;
    left: ;
    width: 161px;
    height: 32px;
}

.center_hero {
    position: relative;
}

.center_hero {
    position: absolute;
    top: 0;
    right: 195px; /* Adjust the right position as needed */
    background-color: rgba(0, 0, 0, 0.6); /* Transparent black background */
    padding: 10px 0;
    text-align: center;
    color: #fff; /* Text color for menu items */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
    .center_hero h1 {
        font-size: 22px;
        display: text;
    }

    .center_hero h2 {
        font-size: 12px;
        display: text;
    }
    
    .center_hero p {
        font-size: 16px;
    }

.center_hero {
    top: 200px;
    bottom: 100px;
    text-size-adjust: 25px;
}

.menu {
    display: flex;
    justify-content: right;
}

.menu-item {
    margin: 0 15px; /* Adjust the spacing between menu items */
    font-weight: bold;
}

.hero-image img {
    width: 100%; /* Adjust the width of your image as needed */
}

