/* Styles for mobile (up to 767px wide) */
@media (max-width: 767px) {
    .header-main {
        text-align: center;
        position: static; /* Remove the position and background properties */
        background-color: transparent; 
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center; /* Correct property name */
    }

    .header-left img {
        position: relative; /* Remove this line */
        justify-content: left; /* Remove this line */
        width: 161px;
        height: 32px;
    }

    .center_hero {
        position: absolute;
        top: 200px; /* Add a semicolon to separate properties */
        right: 0; /* Add this property and value */
        left: 0; /* Add this property and value */
        transform: translate(-50%, -50%);
        background-color: transparent;
        padding: 150px;
        text-align: center;
        color: #fff;
    }

    .center_hero h1 {
        font-size: 22px;
        display: block; /* Change "text" to "block" */
    }

    .center_hero h2 {
        font-size: 12px;
        display: block; /* Change "text" to "block" */
    }

    .center_hero p {
        font-size: 16px;
        display: block; /* Change "text" to "block" */
    }

    .menu {
        display: flex;
        justify-content: center; /* Change "right" to "center" */
    }

    .menu-item {
        margin: 0 15px;
        font-weight: bold;
    }

    .hero-image img {
        width: 100%;
    }
}

/* Styles for desktop (768px wide and above) */
@media (min-width: 768px) {
    .header-main {
        flex-direction: row;
        justify-content: space-between;
    }

    .menu {
        flex-direction: row;
        justify-content: right; /* Add this line */
    }

    .center_hero {
        top: 200px; /* Add this line */
        bottom: 300px; /* Add this line */
        font-size: 25px; /* Correct the property name */
    }
}
